:root {
  --font-family: "IBM Plex mono";
  --transition: 0.3s;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --subtitle-background-color: #ff0070;
  --main-text-color: #f1b2ce;
  --section-title-text-color: var(--subtitle-background-color);
  --theme-switchers: var(--subtitle-background-color);
  --shadow-color: var(--subtitle-background-color);
  --record-color: var(--subtitle-background-color);
  --bakground-color: var(--subtitle-color);
  --background-image: url(../images/cover-image-dark.png);
  --corner: var(--subtitle-background-color);
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --text-shadow: #ff0070;
}
